
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.docker/log/
/.docker/conf/postgres/db-data
/.docker/conf/postgres/pgadmin/
/tests/backup/*
/.docker/conf/postgres/backup/*
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
.htaccess
!/public/.htaccess
/data/patient_files/
/web/bundles
/web/
/.idea/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
