<div class="element-grid pacient-content-description pacient-content-description--first">
    <div class="pacient-content-description__picture"><img src="{{ asset('build/images/item-description2.svg') }}"
                                                           alt=""></div>
    <div class="pacient-content-description__col"><p>{{ template.items.show.content.pressureWidgetTitle }}</p>
        <span>{{ template.items.show.content.pressureWidgetCap }}</span></div>
</div>