<form
        class="btn btn--delete"
        method="post"
        action="{{ path(template.routes.delete.name, {'prescriptionMedicine': entity.id}) }}"
        onsubmit="return confirm('{{ template.items.delete.content.deleteConfirm }}');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button>{{ template.items.delete.content.deleteButton }}</button>
</form>