{% extends 'doctorOffice/index.html.twig' %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li>
                <h1>{{ template.items.list.content.h1Overdue }}</h1>
            </li>
        </ul>
{#        <ul class="content-wrapper__nav">#}
{#            <li><a class="active" href="#">Новые</a></li>#}
{#            <li><a href="#">Основные</a></li>#}
{#        </ul>#}
        <div class="content-wrapper__select">
            {% if template.items.filter.isEnabled %}
                {{ include(
                    template.items.filter.path~'_filter_form.html.twig'
                ) }}
            {% endif %}
        </div>
    </div>
    <div class="table-wrapper table-pacients">
    <div class="box-body table-responsive">
        <div
                id="datatable" class="dataTables_wrapper form-inline dt-bootstrap"
                data-table_settings='{{ datatable_settings(datatable) }}'
        >
            <span class="label label-info">
                <i class="fa fa-sync-alt fa-spin fa-1x fa-fw"></i>
                {{ template.items.list.content.loadTableData }}
            </span>
        </div>
    </div>
{% endblock %}