{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.dateBegin }}</span>
        <p>{{ entity.dateBegin ? entity.dateBegin|date('d.m.Y') : '' }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.dateEnd }}</span>
        <p>{{ entity.dateEnd ? entity.dateEnd|date('d.m.Y') : '' }}</p>
    </li>
{% endblock %}
