//@import "~bootstrap/scss/bootstrap";
//@import "~select2";
@import "~fancybox/dist/css/jquery.fancybox.css";
.btn.btn--delete button {
  background: inherit;
  border: none;
  width: 100%;
}

#datatable .dataTables_filter{
  margin-bottom: 20px;
}