@import "~fancybox/dist/css/jquery.fancybox.css";

.statement__info-block p {
    margin-bottom: 5px;
}

.statement__head a.back-page {
    text-decoration: none;
}

.sorting,.sorting_desc,.sorting_asc{
    cursor: pointer;
}

.content-wrapper__top h1{
    margin-bottom: 30px;
}

#datatable .dataTables_filter{
    display: none;
}

.notificationNumber {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px 1px 3px;
    font-size: 16px;
    margin-left: 15px;

    display: flex;
    align-self: center;
    height: 20px;
}