@import "~fancybox/dist/css/jquery.fancybox.css";

.statement__info-block p {
    margin-bottom: 5px;
}

.statement__head a.back-page {
    text-decoration: none;
}

.sorting,.sorting_desc,.sorting_asc{
    cursor: pointer;
}

.content-wrapper__top h1{
    margin-bottom: 30px;
}

#datatable .dataTables_filter{
    display: none;
}

.notificationNumber {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px 1px 3px;
    font-size: 16px;
    margin-left: 15px;

    display: flex;
    align-self: center;
    height: 20px;
}

.notificationNumber {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px 1px 3px;
    font-size: 16px;
    margin-left: 15px;

    display: flex;
    align-self: center;
    height: 20px;
}
/* Убирает баг в кабинете врача, чтобы меню не отодвигалась на полстраницы */
.sidebar__sublist {
    margin-top: 0;
    margin-bottom: 0;
}
/* Делает линки в саблисте жирными */
.sublist > a {
    font-weight: bold;
}

.dropdown {
    margin-top: 15px;
    cursor: pointer;
}

.dropdown-content {
    margin-left: 40px;
    margin-top: 17px;
    display: none;
    background-color: #1962ad;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #256ab1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.searchBox {
    width: 140px;
    cursor: pointer;
}

.searchBox:focus {
    width: 100%;
    cursor: text;
    outline: none;
}

@media only screen and (max-width: 1245px) {
    .avatar__subtitle {
        display: none;
    }
}

