<div class="element-grid pacient-content-date">
    <div class="datepicker-cal">
        <div class="pacient-content-date__footer">
            <div class="pacient-content-date__footer-col"><span>
                    {{ template.items.show.content.eventDay }}
                </span></div>
            <div class="pacient-content-date__footer-col"><span>
                    {{ template.items.show.content.nowDay }}
                </span></div>
        </div>
    </div>
</div>