<div class="main_page_notification examination__item element-grid pacient-content__notification">
    <h3 id="notificationTime">{{ template.items.show.content.notificationWith }} 14.07.2021 17:07</h3>
    <p id="notificationText">Врач: Хруслов Максим . asdasfdsfds. Подтвердите в кабинете пациента.</p>
    <div>
    <a
            id="confirmNotification"
            class="main-button main-button--green button-confirm"
            data-modal="2"
    >
        {{ template.items.show.content.toConfirm }}
    </a>
    </div>
</div>