{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.edit.content.discharge_epicrisis }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li>
                <h1>Редактирование выписных эпикризов</h1>
            </li>
            <li>
                {% if template.items.list.isEnabled %}
                    <a class="back-page" href="{{ path(
                        'doctor_medical_history',
                        {id: entity.medicalHistory.patient.id}
                    ) }}">История болезни</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="adm-users-edit">
        {{ include(template.items.form.path~'_form_discharge_epicrisis.html.twig') }}
    </div>
{% endblock %}