{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.edit.content.anamnestic_title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li>
                <a class="back-page" href="{{ path(
                    'edit_initial_examination_data',
                    {'id': entity.id}
                ) }}">Назад</a>
            </li>
        </ul>
    </div>
    <h2>{{ template.items.edit.content.anamnestic_h2 }}</h2>
    <div class="adm-users-edit">
        {{ include(template.items.form.path~'_form.html.twig') }}
    </div>
{% endblock %}