{% extends 'doctorOffice/index.html.twig' %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li><a class="back-page" href="#">Назад</a></li>
        </ul>
    </div>
    <div class="pacient-edit-wrapper">
        <div class="popup__wrapper acc"><h2 class="title accordion active">{{ template.items.edit.content.h2 }}</h2>
            <div class="popup__inner panel">
                {{ include(template.items.form.path~'_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}