{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.show.content.title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li><a class="back-page" href="{{ path('patients_list') }}">Назад</a></li>
        </ul>
    </div>
    {{ include('flashmessages.html.twig') }}
    <!-- Персональные данные -->
    {% include 'doctorOffice/medical_history/show/personal_data.html.twig' %}
    <!-- Клинический диагноз -->
    {% if medicalHistory is not empty %}
        {% include 'doctorOffice/medical_history/show/clinical_diagnosis_data.html.twig' %}
    {% endif %}
    <!-- Первичный осмотр пациента -->
    {% if firstAppointment is not empty %}
        {% include 'doctorOffice/medical_history/show/initial_examination_data.html.twig' %}
    {% endif %}
    <!-- Медицинская документация -->
    {# {% if patientDischargeEpicrisis is not empty and firstTestings is not empty%} #}
    {% include 'doctorOffice/medical_history/show/medical_documentation.html.twig' %}
    {# {% endif %} #}
    <!-- Электронная история болезни -->
    {% include 'doctorOffice/medical_history/show/electronic_medical_history.html.twig' %}
{% endblock %}