{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--list btn--show">Список
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path('sms_notification_list') }}">
                        {{ template.items.show.content.analyzesLink }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}
