{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{template.items.show.content.name}}</span>
        <p>{{ entity.name }}</p>
    </li>
{% endblock %}