<div class="buttons">
    {% if template.items.delete.isEnabled %}
        {{ include(template.commonTemplatePath~'_delete_form.html.twig') }}
    {% endif %}
    {% if template.items.edit.isEnabled %}
        <button class="btn btn--edit">
            <a style="text-decoration: none; color: inherit; display:block;"
               href="{{ path(
                   (editRouteName is defined ? editRouteName : template.routes.edit),
               routParam is defined ? routParam : {'id': entity.id}) }}">{{ template.items.show.content.toEdit }}</a>
        </button>
    {% endif %}
</div>