{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.edit.content.title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li>
                <h1>{{ template.items.edit.content.h1 }}</h1>
            </li>
{#            <li><a class="back-page" href="{{ path('notifications_list', {id: entity.patient}) }}">Назад</a></li>#}
        </ul>

    </div>
{#    {% include (template.templatePath~'content_wrapper_top.html.twig') %}#}
    <div class="adm-users-edit">
        {{ include(template.items.form.path~'_form.html.twig') }}
    </div>
{% endblock %}