<div class="examination__item appaintment__item--mode">
    <div class="examination__head">
        <p class="date">
            15.07.21
        </p>
    </div>
    <div class="examination__content">
        <p>Показатели ОАК </p>

    </div>
</div>