{% extends 'base_error.html.twig' %}
{% block error_content %}
    <div class="notfound-404">
        <h1>ERROR</h1>
    </div>
    <h2>Страница не найдена</h2>
    <p>Вы перешли на страницу, которой не существует</p>
    <a href="{{path('index')}}">На главную страницу</a>
{% endblock %}