{% extends 'base_error.html.twig' %}
{% block error_content %}
    <div class="notfound-404">
        <h1>500</h1>
    </div>
    <h2>Ошибка на сервере</h2>
    <p>На сервере произошла непредвиденная ошибка</p>
    <a href="{{path('index')}}">На главную страницу</a>
{% endblock %}