{% extends 'base_error.html.twig' %}
{% block error_content %}
    <div class="notfound-404">
        <h1>403</h1>
    </div>
    <h2>Запрещено</h2>
    <p>Доступ к странице запрещен</p>
    <a href="{{path('index')}}">На главную страницу</a>
{% endblock %}