{% extends 'base_error.html.twig' %}
{% block error_content %}
    <div class="notfound-404">
        <h1>405</h1>
    </div>
    <h2>Метод не поддерживается</h2>
    <p>Обращение на страницу было осуществлено с использованием неподдерживаемого метода</p>
    <a href="{{path('index')}}">На главную страницу</a>
{% endblock %}