{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.title }}</span>
        <p>{{ entity.title }}</p>
    </li>
{% endblock %}
